header {
    width: 100%;
    max-width: 800px;
    margin: 30px auto 50px;
    display: flex;
    justify-content: space-between;
}
header h1 {
    font-size: 26px;
    line-height: 36px;
}
header ul#menu li {
    list-style: none;
    float: left;
    padding: 3px 10px;
    line-height: 36px;
    cursor: pointer;
}
header ul#menu li:hover {
    text-decoration: underline;
    color: #BB501C;
}